@import url('http://fonts.googleapis.com/css?family=Raleway:300,400');


* {
    box-sizing: border-box;
    font-family: Raleway;
    color: rgb(235, 235, 252);
    
}


.man {
    background-image: url("assts/download.jpeg");
    background-size: 1000em,1000em ;
    background-color: rgb(235, 235, 252);
    background-blend-mode: multiply;
}
